---
import Layout from "@/components/Layout.astro"
import Nav from "@/components/home/Nav.astro"
import Hero from "@/components/home/Hero.astro"
import About from "@/components/home/About.astro"
import Experience from "@/components/home/Experience.astro"
import Github from "@/components/home/Github.astro"
import Writing from "@/components/home/Writing.astro"
import Console from "@/components/home/Console.astro"
import Contact from "@/components/home/Contact.astro"
import Footer from "@/components/home/Footer.astro"
import { en } from "@/content/home-en"
import { loadHomeStats } from "@/data/home-github"
import "@/styles/home/index.css"

const buildId = "a7f3c91"
const t = en
const githubStats = await loadHomeStats()
---

<Layout meta={t.meta}>
  <a class="skip" href="#about">{t.meta.skip}</a>

  <Nav meta={t.meta} t={t.nav} />
  <Hero t={t.hero} />
  <About t={t.about} />
  <Experience t={t.experience} />
  <Github t={t.github} stats={githubStats} />
  <Writing t={t.writing} />
  <Console t={t.console} />
  <Contact t={t.contact} />
  <Footer t={t.footer} buildId={buildId} />

  <script>
    import "@/scripts/home/index.ts"
  </script>
</Layout>
